.Elements-Col{
    /* background: #ccc; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
}
.Elements-Col .ant-image{
    border: 1px solid #ccc;
}